{lib_dirs, ["deps",".."]}.
{erl_opts,[nowarn_deprecated_function,nowarn_export_all]}.
{deps_dir, ["deps"]}.
{deps, [
    {nitro,         ".*", {git, "https://github.com/Spoowy/nitro",             []}},
    {n2o,           ".*", {git, "https://github.com/Spoowy/n2o",               []}},
    {erlydtl,       ".*", {git, "https://github.com/voxoz/erlydtl.git",        {tag,"0.8.0"}}},
    {oauth,         ".*", {git, "https://github.com/tim/erlang-oauth",         {tag, "v1.6.0"}}}
]}.
{erlydtl_opts, [
    {doc_root,   "priv"},
    {out_dir,    "ebin"},
    {source_ext, ".dtl"},
    {module_ext, "_view"}
]}.
{plugins, [rebar3_hex]}.